@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 999px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

@media (max-width: 640px) {
  /* width */
  ::-webkit-scrollbar {
    width: 0;
  }
}